@import "./utilities/extends"
@import "./utilities/mixins"
@import "./utilities/estilosgenerales"
@import "./utilities/carrousel"
@import "./utilities/navbar"
@import "./layout/footer"
@import "./layout/header"
@import "./layout/main"
@import "./mq/mediaqueries"


/* RESET DE CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georama", sans-serif;
}
